<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
 <add name="killthetest" connectionString="Server=tcp:cffzxaxu9h.database.windows.net,1433;Initial Catalog=killthetest1;Persist Security Info=False;User ID=bgoggles;Password=Swordfish5;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
</connectionStrings>