@{
    ViewBag.Title = "Kill the Test";
}


<style>


    .jumbotron{
	/*background: url(http://webapps.jhu.edu/jhuniverse/images/site/campuslife/campuslife.jpg)no-repeat top center;*/
    background: url(Content/images/KTT.png) no-repeat top center;
    background-color:orange;
	background-size: cover;
	margin-top:15px;
    margin-bottom: 0px;
    padding-top:50px;

}
    .jumbotron h1,h2 {        
        
        /*color: orange;*/
    }
 .home-product{
	padding:5px;
	margin:5px 5px;
	background-color:rosybrown;    
    color:#fff;
   
	-moz-box-shadow: 0px 1px 3px rgba(0,0,0,.1);
    -webkit-box-shadow: 0px 1px 3px rgba(0,0,0,.1);
    box-shadow: 0px 1px 3px rgba(0,0,0,.1);
            
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;

}
  .a{
    text-decoration:none 
  }

</style>

    <!-- Jumbotron -->
<div class="row">
    <div class="col-sm-12">
    <div class=" jumbotron" id="home">
        <div class="row">
            <h1><strong>KILL</strong>THE TEST</h1>
            <h3>Your free study guide for college entrance exams.</h3>
        </div>
    </div>
    </div>

    </div>

<br /><br />
    <div class="row">
        <div class="col-md-4">
            <h2>Students</h2>
            <p>
                Prepare for the big test efficiently.  Kill the Test cuts through the clutter and helps you focus on the areas that will most improve your performance.
            </p>
            <p><a class="btn btn-primary" href="/Lessons/Section/Writing">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Teachers</h2>
            <p>Track your students progress using our easy to use teacher tools</p>
            <p><a class="btn btn-primary" href="/Lessons/Directory">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Parents</h2>
            <p>Did we mention that our study guide is 100% free.  No need to spend hundreds of dollars on test prep software.</p>

        </div>
    </div>

@*<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-3">
        <a href="/lessons" role="button">
            <h2>Learn</h2>
            <p><small>Hundreds of free lessons. Kill the Test helps you learn the concepts.</small></p>
        </a>
    </div>
    <div class="col-md-3">
        <a href="/lessons" role="button">
            <h2>Practice</h2>
            <p><small>Free practice tests, with full explanations, will enable you to drill your way to test success</small></p>
        </a>
    </div>

</div>*@